<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TimeTable_management_System.Properties.Settings.TTMSDBGcn"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\database\TTMSDBG.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TimeTable_management_System.Properties.Settings.cn"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\database\DatabaseTTMS.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TimeTable_management_System.Properties.Settings.TTMSConnectionString"
            connectionString="Data Source=DESKTOP-V7M4G0I\SQLEXPRESS;Initial Catalog=TTMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>