<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="condb" connectionString="Data Source=DESKTOP-UT64EL6;Initial Catalog=locations;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>